ul{
    list-style: none;
    display: inline-flex;
}

li{ 
    gap: 10px;
}

li a{
    color: black;
    text-decoration: none;
}

.brandBusiness{
    font-size: 30px;
    margin-left: 5px;
}

.browser{
    border-style: solid;
    border-color: black;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart{
    width: 30px;
    margin-right: 20px;
}